{% extends 'customer/base.html' %}
{% load static %}
{% block title %}
	<title>About and Contact Us</title>
	{% endblock title %}
{% block body %}
	
	
	<!-- /banner_bottom_agile_info -->
	<div class="page-head_agile_info_w3l">
		<div class="container">
			<h3>About and Contact<span>Us </span></h3>
			<!--/w3_short-->
			<div class="services-breadcrumb">
				<div class="agile_inner_breadcrumb">

					<ul class="w3_short">
						<li><a href="index.html">Home</a><i>|</i></li>
						<li>About and Contact Us</li>
					</ul>
				</div>
			</div>
			<!--//w3_short-->
		</div>
	</div>
	<!-- /banner_bottom_agile_info -->
	<div class="banner_bottom_agile_info">
		<div class="container">
			<div class="agile_ab_w3ls_info">
				<div class="col-md-6 ab_pic_w3ls">
					<img src="{% static 'customer/assets/img/3.jpg' %}" alt="" class="img-responsive" />
				</div>
				<div class="col-md-6 ab_pic_w3ls_text_info">
					<h5>About Our PANERI </h5>
					<p>Here we are to offer you our best of products which we make ourselves with guaranted quality and cheapest price.
						Our designers are higly talented and very skillfull workers! Our main goal is to Acheive customers happiness at its best!
					</p>
					<p>Our business basically came from Mumbai,Maharashtra,India. As we are progressing from one place to another ,we wish - wherever we are we always focus on our customers wishes and follow their dreams with our designs!</p>
				</div>
				<div class="clearfix"></div>
			</div>

			<div class="banner_bottom_agile_info_inner_w3ls">
				<div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
					<figure class="effect-roxy">
						<img src="{% static 'customer/assets/img/15.jpg' %}" alt=" " class="img-responsive" />
						<figcaption>
							<h3><span>D</span>esigns <span>F</span>or</h3>
							<p>New Arrivals</p>
						</figcaption>
					</figure>
				</div>
				<div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
					<figure class="effect-roxy">
						<img src="{% static 'customer/assets/img/16.jpg' %}" alt=" " class="img-responsive" />
						<figcaption>
							<h3><span>D</span>esigns <span>F</span>or</h3>
							<p>New Arrivals</p>
						</figcaption>
					</figure>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--/grids-->
	<!--/contact-->
	<div class="banner_bottom_agile_info">
		<div class="container">
			<div class="contact-grid-agile-w3s">
				<div class="col-md-4 contact-grid-agile-w3">
					<div class="contact-grid-agile-w31">
						<i class="fa fa-map-marker" aria-hidden="true"></i>
						<h4>Address</h4>
						<p>F-9, Chandraprabhu Complex, Nr. Maharaj Samosa</p>
					</div>
				</div>
				<div class="col-md-4 contact-grid-agile-w3">
					<div class="contact-grid-agile-w32">
						<i class="fa fa-phone" aria-hidden="true"></i>
						<h4>Call Us</h4>
						<p> +91 7383536601 </p>
					</div>
				</div>
				<div class="col-md-4 contact-grid-agile-w3">
					<div class="contact-grid-agile-w33">
						<i class="fa fa-envelope-o" aria-hidden="true"></i>
						<h4>Email</h4>
						<p><a href="mailto:solanki.manish11122@gmail.com">solanki.manish11122@gmail.com</a></p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>

	<!--//contact-->
	<!-- /we-offer -->
	<div class="sale-w3ls">
		<div class="container">
			<h6 style="color: black;">We Create <span>Finest</span> Of Your Clothes </h6>

			<a class="hvr-outline-out button2" href="single.html">Shop Now </a>
		</div>
	</div>
	<!-- //we-offer -->
	{% endblock body %}