{% extends 'customer/base.html' %}
{% load static %}
{% load my_filters %}
{% block title %}
	<title>Change Password</title>
	{% endblock title %}
{% block body %}

  <style>
    * {
      box-sizing: border-box;
    }

    .row {
      display: -ms-flexbox;
      /* IE10 */
      display: flex;
      -ms-flex-wrap: wrap;
      /* IE10 */
      flex-wrap: wrap;
      margin: 0 -16px;
    }

    .col-25 {
      -ms-flex: 25%;
      /* IE10 */
      flex: 25%;
    }

    .col-50 {
      -ms-flex: 50%;
      /* IE10 */
      flex: 50%;
    }

    .col-75 {
      -ms-flex: 75%;
      /* IE10 */
      flex: 75%;
    }

    .col-25,
    .col-50,
    .col-75 {
      padding: 0 16px;
    }

    .containerx {
      background-color: #f2f2f2;
      padding: 5px 20px 15px 20px;
      border: 1px solid lightgrey;
      border-radius: 3px;
    }

    input[type=text] {
      width: 100%;
      margin-bottom: 20px;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }

    label {
      margin-bottom: 10px;
      display: block;
    }

    .icon-containerx {
      margin-bottom: 20px;
      padding: 7px 0;
      font-size: 24px;
    }

    .btn {
      background-color: #04AA6D;
      color: white;
      padding: 12px;
      margin: 10px 0;
      border: none;
      width: 100%;
      border-radius: 3px;
      cursor: pointer;
      font-size: 17px;
    }

    .btn:hover {
      background-color: #45a049;
    }

    a {
      color: #2196F3;
    }

    hr {
      border: 1px solid lightgrey;
    }

    span.price {
      float: right;
      color: grey;
    }

    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
    @media (max-width: 800px) {
      .row {
        flex-direction: column-reverse;
      }

      .col-25 {
        margin-bottom: 20px;
      }
    }
  </style>

  <!-- //Modal3 -->
  <!-- /banner_bottom_agile_info -->
  <div class="page-head_agile_info_w3l">
    <div class="container">
      <h3>Change Password</h3>
      <!--/w3_short-->
      <div class="services-breadcrumb">
        <div class="agile_inner_breadcrumb">

          <ul class="w3_short">
            <li><a href="index.html">Home</a><i>|</i></li>
            <li>Change Password</li>
          </ul>
        </div>
      </div>
      <!--//w3_short-->
    </div>
  </div>
  <!-- Upper Part Same Mostly-->

  <!-- Forgot-Password -->
  <div class="banner_bottom_agile_info">
    <div class="container">
      <div class="agile-contact-grids">
        <div class="agile-contact-left">
          <div class="col-md-12 contact-form">
            <h4 class="white-w3ls">Change <span>Password</span></h4>
            <form role="form" class="text-start" method="POST" action="{% url 'password_reset' %}">
              {% csrf_token %}
              <div class="styled-input agile-styled-input-top">
                <input type="password" name="oldpass" class="styled-input" required="">
                <label>Old Password</label>
                <span></span>
              </div>
              <div class="styled-input ">
                <input type="password" name="newpass" class="styled-input" required="">
                <label>New Password</label>
                <span></span>
              </div>
              <div class="styled-input">
                <input type="password" name="renewpass" class="styled-input" required="">
                <label>Re-enter New Password</label>
                <span></span>
              </div>
              <input type="submit" value="Change Password">
            </form>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>

  <!-- /Forgot-Password-->


{% endblock body %}