{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Profile</title>
    <!--/tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Paneri Designers" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //tags -->
    <link href="{% static 'customer/assets/css/bootstrap.min.css' %} " rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'customer/assets/css/font-awesome.css' %} " rel="stylesheet">

    <!-- //for bootstrap working -->
    <style>
        body {
            background: #2fdab8
        }

        .form-control:focus {
            box-shadow: none;
            border-color: #2fdab8
        }

        .profile-button {
            background: #2fdab8;
            box-shadow: none;
            border: none
        }

        .profile-button:hover {
            background: #682773
        }

        .profile-button:focus {
            background: #682773;
            box-shadow: none
        }

        .profile-button:active {
            background: #682773;
            box-shadow: none
        }

        .back:hover {
            color: #2fdab8;
            cursor: pointer
        }

        .labels {
            font-size: 11px
        }
    </style>
</head>

<body>
    <!-- Main Page Content-->
    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class=" mt-5" width="150px"
                        src="/media/{{user.profile}}" alt="Not Found"><span class="font-weight-bold">{{user.user_id.username}}</span><span
                        class="text-black-50">{{user.user_id.email}}</span><span> </span></div>
            </div>
            <div class="col-md-8 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">First Name</label><input type="text"
                                class="form-control" placeholder="First name" value="{{user.first_name}}" readonly></div>
                        <div class="col-md-6"><label class="labels">Last Name</label><input type="text"
                                class="form-control" value="{{user.last_name}}" placeholder="Last name" readonly></div>
                    </div>
                    <div class="row mt-3">
                        {% if user.gender == True %}
                        <div class="col-md-12"><label class="labels">Gender</label><input type="text"
                                class="form-control" placeholder="Male" value="Male" readonly></div>
                                {% else %}
                                <div class="col-md-12"><label class="labels">Gender</label><input type="text"
                                    class="form-control" placeholder="Male" value="Female" readonly></div>
                                {% endif %}
                        <div class="col-md-12"><label class="labels">DOB</label><input type="text" class="form-control"
                                placeholder="02/02/2002" value="{{user.dob}}" readonly></div>
                        <div class="col-md-12"><label class="labels">Mobile Number</label><input type="tel"
                                pattern="[0-9]{12}" class="form-control" readonly placeholder="Enter phone number"
                                value="{{user.Cus_phone}}"></div>
                        <div class="col-md-12"><label class="labels">Email ID</label><input type="email"
                                class="form-control" placeholder="Enter email id" readonly value="{{user.user_id.email}}"></div>
                        <div class="col-md-12"><label class="labels">Address Line 1</label><input type="text"
                                class="form-control" placeholder="Enter address line 1" readonly value="{{user.cus_add1}}"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Area</label>
                            <input type="text" class="form-control" placeholder="Vejalpur" value="{{user.area_id}}" readonly>
                        </div>
                        <div class="col-md-6"><label class="labels">City</label>
                            <input type="text" class="form-control"  value="{{user.area_id.city_id.city_name}}" readonly>
                        </div>
                        <div class="col-md-6"><label class="labels">State/Region</label>
                            <input type="text" class="form-control"  value="{{user.area_id.city_id.state_id.state_name}}" readonly>
                        </div>
                        <div class="col-md-6"><label class="labels">Country</label>
                            <input type="text" class="form-control" value="{{user.area_id.city_id.state_id.country_id.country_name}}" readonly>
                        </div>
                        <div class="col-md-6"><label class="labels">Postcode</label><input type="text" readonly
                                class="form-control" placeholder="Enter Postcode" value="{{user.pincode}}"></div>

                    </div>
                    <div class="mt-5 text-center"><a href="{% url 'edit_profile' user.user_id.id %}" class="btn btn-primary profile-button"
                            type="button">Edit Profile</a><a href="{% url 'home' %}"
                            class="btn btn-primary cart-btn-transform m-3"
                            style="margin-top: 5%;background-color: #4466f2 !important;border-color: #4466f2 !important"
                            data-abc="true">Continue shopping</a></div>

                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- //Main Page Content-->
    <!-- js -->
    <!---->
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <!-- //here ends scrolling icon -->

    <!-- for bootstrap working -->
</body>

</html>