{% extends "Mainadmin/index.html" %}
{% load static %}
{% block body %}
     <!-- Main Content -->
     <div class="main-content">
      <section class="section">
        <div class="section-body">
          <!-- add content here -->
          <div class="row">
            <div class="col-6 col-md-6 col-lg-6">
              <div class="card">
                <div class="card-header">
                  <h4>Add New Categories</h4>
                </div>
                <form action="{% url 'addcatt' %}" name="category" method="post">
                  {% csrf_token %}
                  
                <div class="card-body">
                  <input type="text" for="category" name="category" class="form-control" placeholder="Category Name: ">
                  <button type="submit" for="category" class="btn btn-primary" style="margin-top: 20px;" > Add </button>
                </div>
              </form>
              </div>
            </div>
            <div class="col-6 col-md-6 col-lg-6">
                <div class="card">
                  <div class="card-header">
                    <h4>Add Sub-Categories</h4>
                  </div>
                  <form action="{% url 'addsubcat' %}" name="subcategory" method="post">
                    {% csrf_token %}
                  <div class="card-body">
                    <select class="form-control" name="category" for="subcategory">
                        <option default>Select Category</option>
                        {% for c in cat %}
                        <option value="{{c.id}}">{{c.cat_name}}</option>
                        {% endfor %}
                    </select>
                    <input type="text" style="margin-top:20px;" name="subcat" for="subcategory" placeholder="Sub Cat Name" class="form-control">
                    <button type="submit" for="subcategory" class="btn btn-primary" style="margin-top: 20px;" > Add </button>
                  </div>
                </form>
                </div>
              </div>
          </div>
          
          <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
              <div class="card">
                <div class="card-header">
                  <h4>Added Categories</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    {% if cat %}
                    <table class="table table-bordered table-md">
                      <tr>
                        <th>Id.</th>
                        <th>Name</th>
                        <th>Action</th>

                      </tr>
                      {% for c in cat  %}
                      <tr>
                        <td>{{c.id}}</td>
                        <td>{{c.cat_name}}</td>
                        <td><button class="btn btn-primary cat" value="{{c.id}}">Delete </button></td>
                      </tr>
                      {% endfor %}
                    </table>
                    {% else %}
                    <h4>No Records</h4>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- end content here -->
        </div>
      </section>
    </div>
<!-- end main content -->
      <footer class="main-footer">
        <div class="footer-right">
        </div>
      </footer>
    </div>
  </div>
  {% endblock body%}
  {% block js %}
  <script>
    $(".cat").click(function () {
      console.log("clickkkkk")
      swal({
      title: 'Are you sure?',
      text: 'Once deleted, you will not be able to recover this record!',
      icon: 'warning',
      buttons: true,
      dangerMode: true,
    })
      .then((willDelete) => {
        if (willDelete) {
          var url="{% url 'delcat' 123 %}";
          var id=$(this).attr("value");
          console.log(id);
          window.location.href=url.replace('123', id);
        } else {
          swal('Your Record is safe!');
        }
      });
    });
  </script>
  {% endblock js %}
