{% extends "Mainadmin/index.html" %}
{% load static %}
{% block body %}
<div class="main-content">
    <section class="section">
      <div class="section-body">
        <!-- add content here -->
            <h3 class="page-title">Products In Order </h3>
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 table-responsive">
                        <table id="order-listing" class="table" cellspacing="0" width="100%">
                          <thead>
                            <tr class="bg-primary ">
                              <th>Product Id</th>
                              <th>Product Name</th>
                              <th>Product Image</th>
                              <th>Price (Each)</th>
                              <th>Qty</th>
                            </tr>
                          </thead>
                          <tbody>  
                            {% for o in order  %}                            
                            <tr>
                              <td>{{o.product_id.id}}</td>
                              <td width="30%">{{o.product_id.product_name}}</td>
                              <td ><img src="/media/{{o.product_id.product_img}}" style="width:30%;height:90%;"  /></td>
                              <td>{{o.final_price}}</td>
                              {% if o.qty == 0 %}
                              <td>Product Returned</td>
                              {% else %}
                              <td>{{o.qty}}</td>
                              {% endif %}
                              </tr>
                              {% endfor %}                         
                          </tbody>
                        </table>
                        
                        <div class="pagination">
                          <span class="step-links">
                              {% if orders.has_previous %}
                                  <a href="?page=1">&laquo; <button class="btn btn-primary"> First</button></a>
                                  <a href="?page={{ orders.previous_page_number }}"><button class="btn btn-primary"> Previous</button></a>
                              {% endif %}
                      
                              <span class="current">
                                  Page {{ orders.number }} of {{ orders.paginator.num_pages }}.
                              </span>
                      
                              {% if orders.has_next %}
                                  <a href="?page={{ orders.next_page_number }}"><button class="btn btn-primary">next</button> </a>
                                  <a href="?page={{ orders.paginator.num_pages }}"><button class="btn btn-primary">Previous &raquo;</button></a>
                              {% endif %}
                          </span>
                      </div>

                      </div>
                    </div>
                  </div>
                </div>
            <!-- end content here -->
              </div>
              {% if sr %}
              <div class="text-center" style="margin-left:30px">
            <h3 class="page-title">Returned Products In Order </h3>
            </div>
              <div class="col-12">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12 table-responsive">
                        <table id="order-listing" class="table" cellspacing="0" width="100%">
                          <thead>
                            <tr class="bg-primary ">
                              <th>Product Id</th>
                              <th>Product Name</th>
                              <th>Product Image</th>
                              <th>Return Date</th>
                              <th>Returned Qty</th>
                              <th>Return Reason</th>

                            </tr>
                          </thead>
                          <tbody>  
                            {% for r in sr  %}                            
                            <tr>
                              <td>{{r.product_id.id}}</td>
                              <td width="30%">{{r.product_id.product_name}}</td>
                              <td ><img src="/media/{{r.product_id.product_img}}" style="width:30%;height:90%;"  /></td>
                              <td>{{r.salRet_date}}</td>
                              <td>{{r.salRet_qty}}</td>
                              <td>{{r.salRet_reason}}</td>

                              </tr>
                              {% endfor %}                         
                          </tbody>
                        </table>
                        
                        <div class="pagination">
                          <span class="step-links">
                              {% if orders.has_previous %}
                                  <a href="?page=1">&laquo; <button class="btn btn-primary"> First</button></a>
                                  <a href="?page={{ orders.previous_page_number }}"><button class="btn btn-primary"> Previous</button></a>
                              {% endif %}
                      
                              <span class="current">
                                  Page {{ orders.number }} of {{ orders.paginator.num_pages }}.
                              </span>
                      
                              {% if orders.has_next %}
                                  <a href="?page={{ orders.next_page_number }}"><button class="btn btn-primary">next</button> </a>
                                  <a href="?page={{ orders.paginator.num_pages }}"><button class="btn btn-primary">Previous &raquo;</button></a>
                              {% endif %}
                          </span>
                      </div>

                      </div>
                    </div>
                  </div>
                </div>
            <!-- end content here -->
              </div>
              {% endif %}
          </div>
    </section>
  </div>
  
  <footer class="main-footer">
    <div class="footer-right">
    </div>
  </footer>
</div>


{% endblock body %}
{% block js %}
<script>
  //for category and sub category
  $("#cat").change(function () {
      const cat_id=$(this).val();
      console.log(cat_id);
      $.ajax({
        type:"POST",
        url: "{% url 'cat_ajax-data' %}",
        data:{
          'cat_id':cat_id,
          'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
        },
        success:function(data){
          console.log("Success");
          let html_data='<option value="" selected disabled>Choose Sub Category </option>';
          data.forEach(function (data) {  
            html_data =html_data+ `<option value="${data.id}" name="${data.id}">${data.cat_name}</option>`;
  
          });
          $("#subcat").html(html_data);
        },
        error:function(error){
          console.log("Error");
        }
      });
      });
    $(".swal-15").click(function () {
      swal({
      title: 'Are you sure?',
      text: 'Once deleted, you will not be able to recover this record!',
      icon: 'warning',
      buttons: true,
      dangerMode: true,
    })
      .then((willDelete) => {
        if (willDelete) {
          
          swal('Poof! Record has been deleted!', {
            icon: 'success',
          });
          var url="{% url 'delrecord' 123 %}";
          var id=$(this).attr("value");
          console.log(id);
          window.location.href=url.replace('123', id);
        } else {
          swal('Your Record is safe!');
        }
      });
    });
  </script>  
{% endblock js %}